/* THE GENERALE CSS  */
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');
*{
	font-family: "redressed" ;
	border: 0px;
	top: 0px;
	left: 0px;
	padding: 0px;
	margin: 0px;
	list-style: none;
	text-decoration: none;
}
.redressed {
	font-family: 'Ubuntu', sans-serif;
}
.gras{
	font-weight: bold;
}
.blanc{
	color: #ffffff !important;
}

.noir{
	color: #000000  !important;
}
.orangee{
	color: #f9b442 !important;
}
.bleu{
	color: rgb(19, 19, 243);
}

.bleue{
	color: hsl(214, 54%, 84%);
}
.rouge{
	color: rgb(255, 0, 0);
}
.inverser1{
	flex-direction: column-reverse;
}
.progbarcolor{
	background-color: #f9b442 !important;
}

.ref{
	color: #373736 !important;
}
.souligneur{
	border-bottom: 4px solid #f9b442;
}



/* THE GENERALE CSS  */
/* NAVBAR OF THE HOME PAGE */
/* .nav11{
	background-color: rgba(43, 42, 42, 0) !important;
	 /* box-shadow: 1px 1px 3px rgba(255, 255, 255, 0.54); 
	 z-index: 99; 
	 top: -280px;

	
	
} */

/* .nav111{
	background:  url(../../images/RECADRAGE/RECADRAGE-01.png) center center  no-repeat;

	background-size: cover;
	background-position: bottom; 
	height: 100vh;
	width: 100%;
	display: block;

}  */

.backgroum{
	background:  url(../../images/RECADRAGE/PAGESITESUZANG-BG-05A.png) center center  no-repeat;

	background-size: cover;
	/* background-position: bottom;  */

	
	
	

	
} 

/* .nav--hidden{
	transform: translateY(calc(-1*var( --nav--height)));
	
} 
.nav111 .nav-link {
	border-bottom: 3px solid transparent;
	transition: padding-bottom 0.4s ease-in-out, border-color 0.3s ease;
	font-size: 24px;
}
.nav111 .nav-link:hover {
	padding-bottom: 20px;
	height: 44px;
	border-bottom-color:#f9b442 ;
	color: #f9b442 !important;
	font-size: 26px bold !important;

}
.nav111 .nav-link:active {
	padding-bottom: 20px;
	height: 44px;
	border-bottom-color:#f9b442 ;
	color: #f9b442 !important;
	font-size: 26px bold !important;

} */
/* END NAVBAR OF THE HOME PAGE */

/* NAVBAR OF THE PAGE PRESENTATION AND ....... */
/* .cc-navbar {
	/* background-color:   rgba(255, 255, 255, 0.54) */ 
	/* box-shadow: 1px 1px 3px rgba(255, 255, 255, 0.54); */
   /* z-index: 99; 
   top: 12px;
}

.cc-navbar .nav-link {
	border-bottom: 1px solid transparent;
	transition: padding-bottom 0.4s ease-in-out, border-color 0.3s ease;
	font-size: 24px;
	
}

.cc-navbar .nav-link:hover {
	padding-bottom: 40px;
	height: 44px;
	border-bottom-color:#f9b442 ;
	color: #f9b442 !important;
	font-size: 26px bold !important;
}
.cc-navbar .nav-link:active {
	padding-bottom: 40px;
	height: 44px;
	border-bottom-color:#f9b442 ;
	border-bottom:14px #f9b442 solid; 
	color: #f9b442 !important;
	
} */

.btn-order {
	background-color:#f9b442 !important ;
	transition: 0.5s;
	font-family:" redressed";
}
	
.bodylog{
	background-color: #64350d;
    background-repeat: no-repeat;
    background-size: cover; 
    height: 100vh;
}

.login-box{
	
	width:600px;
    margin:8% auto;
    padding:10px;
    border-radius: 20px;
	display: block;

}
.login-card-body{
	background-color: #64350d !important;
}
.grayscale {
	filter: grayscale(100%);
	-webkit-filter: grayscale(100%);
  }
  .service:hover {
	background:  rgba(182, 163, 163, 0.54);
	transform: translate3d(0px, 0px, 0px); 
	-webkit-transition: all 0.5s ease 0s;
	transition: all 0.8s ease 0s;
	
	
  }

.btn1 {
    border-color: #f9b442;
    background-color: #f9b442;
}

  /* html {
	scroll-behavior: smooth;
  } */
  /* .btn1 {
    height: 100px;
    width: 100px;
    background: crimson;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    right: 20px;
    bottom: 20px;
    cursor: pointer;
}
.icone {
    /* width: 50px;
} 

.custom-popover {
	--bs-popover-max-width: 200px;
	--bs-popover-border-color: var(--bs-primary);
	--bs-popover-header-bg: var(--bs-primary);
	--bs-popover-header-color: var(--bs-white);
	--bs-popover-body-padding-x: 1rem;
	--bs-popover-body-padding-y: .5rem;
  } */

  @media screen and (min-width :1600px){ 
    
	.menu{
		background: #462b2bbd;
		/* position:absolute;
		top:37px;
		left:0px;
		width: 195px;
		backdrop-filter:blur(5px); */
	 }
	/* NAVBAR OF THE PAGE PRESENTATION AND ....... */
	.cc-navbar {
		/* background-color:   rgba(255, 255, 255, 0.54) */ 
		/* box-shadow: 1px 1px 3px rgba(255, 255, 255, 0.54); */
		z-index: 99; 
		padding-top:0px;;
	  
	   position: absolute;
	   
	}
	.newsletterpolice1{
		font-size: 22px;
	}
	.ac-police{
		font-size: 59px;
		padding-bottom: 60px;
		
		
	}
	.texttaill{
		font-size: 25px; 
		/* margin-left: 30px; */
		padding-left: 20px;
		padding-bottom: 20px;
	 }	
	.carrosel{
		
		padding-top: 93px;
		/* margin-bottom: 13px; */
		top: -84px;
		/* padding-bottom: 8px;
		bottom: 40px; */
	}
	.cc-navbar .nav-link {
		/* border-bottom: 1px solid transparent;
		transition: padding-bottom 0.4s ease-in-out, border-color 0.3s ease;
		font-size: 24px; */
	
		
		letter-spacing: 1px;
		font-size: 34px;
		
		
		
	}
	.refpolice1{
		font-size: 23px !important;
		
	}
	.refpolice11{
		font-size: 22px !important;
		margin-left: -8px;
		
	}
	
	.cc-navbar .nav-link:hover {
		padding-bottom: 40px;
		height: 44px;
		border-bottom-color:#f9b442 ;
		color: #f9b442 !important;
		font-size: 26px bold !important;
	}
	.cc-navbar .nav-link:active {
		padding-bottom: 40px;
		height: 44px;
		border-bottom-color:#f9b442 ;
		border-bottom:14px #f9b442 solid; 
		color: #f9b442 !important;
		
			text-decoration: underline;
			text-decoration-color: #f9b442;
	
		
		
	}
	/* .active,.nav-link:active{
		text-decoration: underline;
		text-decoration-color: #f9b442;
	} */
	.boutonpos{
		margin-right: -34px;
	}
	.boutonpos1{
		margin-right: -137px;
	}
	
	.container1{
			margin: left 15px;
		}
		.arrive{
			background:  url(../../images/RECADRAGE/RECADRAGE-01.png) center center  no-repeat;
		
			background-size: cover;
			background-position: bottom; 
			height: 100vh;
			width: 100%;
			
		} 
		.ensavoirplus{
			color: #1a1919 !important;
			background-color:#f9b442 !important ;
			font-family:" redressed";
			font-size: 14px;
		}
		/* .content-wrapper{
			width: 150% !important;
		} */
		.accueil-im1{
			top: -3px;
			width: 1550px !important;
			left: -100px !important;
			top: -780px !important;
			margin-right: 0px;
			margin: 0px;
			right: 0px;
		}
	
		.accueil-im{
			
			position: absolute;
			top: -70px;
		}
		.accueil-text{
			position: absolute;
			/* bottom: 10px; */
			top: 750px;
			font-weight: 700px !important;
			margin-left: 519px;
			/* top: 671px;
			font-weight: 700px !important;
			margin-left: 499px;  */
			
    
		}
		.conteneu-im{
		top:100px
		}
		 .parents{
		   position: relative;
		   /* padding: 20px; */
		 
		}
		
		.conteneur {
	
			column-count: 2;
			font-size: 23px;
			text-align: left;
			width: 700px;
			margin-left: 20px;
			margin-top: 12px;
	}
	
	.conteneur11 {
	
		
		font-size: 20px;
		text-align: left;
		width: 600px;
		
	
	}
	.conteneur1 {
			column-count: 2;
			font-size: 20px;
			text-align: left;
			
	
	}
		
	.descr{
		width: 460px;
		margin: 20px;
	}
	.fil{
			position:absolute;
			left: 0px;
			z-index: 999;
			width:  700px;
			/* margin-left: 14px ; */
			margin-top: 10%;
			padding-left: 80px;
	
			
		}
	
		
	.fil1{
		 position:absolute;
		 right: 0px;
		 z-index: 999;
		 width:  600px;
		 margin-left: 50% ;
		 margin-top:3%;
			
			
		}
	
	.tailletitre{
		font-size: 40px;
		width: 800px;
		padding-right: 10px;
		margin-left: 40px;
		padding-bottom: 7px;
		}
	.tailletitrerig{
		font-size: 40px;
		width: 800px;
		padding-right: 10px;
	}
	 
	.tailletitre1{
			font-size: 40px;
			
		}
	
	.tailletitreaut{
			font-size: 2rem;
			width: 650px;
		}
	.tailledesc{
		font-size: 23px;
		margin: 14px;
		width: 700px;
		text-align: left;

		}
	.titre1{
			font-size: 40px;
		
		}
	.bouton{
			width: 144px;
			height: 37px;
		}
	
	.to-top {
			background: #f9b442;
			position: fixed;
			bottom: 16px;
			right:32px;
			width:50px;
			height:50px;
			border-radius: 50%;
			display:block;
			align-items: center;
			text-align: center;
			justify-content: center;
			font-size:32px;
			color:#1f1f1f;
			text-decoration: none;
			opacity:0;
			line-height: 40px;
			pointer-events: none;
			transition: all .4s;
			z-index: 9999;
			left: 1471px;
			top: 700px;
			
			
		  }
	.to-top.active {
			bottom:32px;
			pointer-events: auto;
			opacity:1;
			
		  }
		.comptence{
			width:98%;
			padding:0px;
			margin: 0px;
		} 
		.post{
			top: 100px;
		}
		.margedroit{
			margin-left:50px;
		}
			
	.progbarleft {
		background-color: #f9b442 !important;
		width: 30%;
		height: 9px;
	}
		.progbarright{
			background-color: #f9b442 !important;
    left: 273px;
    width: 19%;
    height: 12px;
    margin-left: 502px;
    margin-top: 3px;
		}
		.progbarright1{
			background-color: #f9b442 !important;
    width: 20%;
    height: 6px;
    padding-left: 0px;
    margin-left: 454px;
    margin-top: -34px;
    margin-bottom: 16px;
			
	
			/* left: 350px;
			width: 20%;
			height: 9px;
			padding-left: 0px;
			margin-left: 299px;
			margin-bottom: 17px; */
		}
		.sepa{
			margin-bottom: 40px;
		}
		
		
		.nav-police{
			font-size: 34px !important;
		}
		.nos-medias{
			background-color:#f9b442; margin-bottom: 20px;
			font-size: 28px !important;
			font-weight: bold;
			border-radius: 64% 2%;margin-top: 20px;
		}
		.bisgslade{
			
			margin-top: 20px !important ;
		}
		.progbarleft1 {
			background-color: #f9b442 !important;
			width: 30%;
			height: 9px;
		}
		.servicepolice{
			font-weight: bold;
			font-size: 25px;
			text-align: center !important;
		}
		/* .ac-police{
			font-size: 590px;
			
			
		} */
		.ac-police1{
			margin-top: -140px;
		}
		.logoa{
			
				/* height:100px;
				width: 157px; */
				width: 225px;
				aspect-ratio: auto 200 / 150;
				height: 173px
		}
		.logoa1{
			height: 129px;
			width: 182px;
			 }
	
		.cacher{
			display: none;
		}
	.affiche{
			display: block;
		}
	.textcenter{
			text-align: left;
		 }
		/* .row>*{
			flex-shrink: 0;
			width: 100%;
			max-width: 100%;
			padding-right: calc(var(--bs-gutter-x) * 0.5);
			padding-left: calc(var(--bs-gutter-x) * 0.5);
			margin-top: var(--bs-gutter-y);
		} */
	 
	
 }

  @media screen and (min-width :1320px) and (max-width :1600px){ 
    
	/* NAVBAR OF THE PAGE PRESENTATION AND ....... */
	.cc-navbar {
		/* background-color:   rgba(255, 255, 255, 0.54) */ 
		/* box-shadow: 1px 1px 3px rgba(255, 255, 255, 0.54); */
		z-index: 99; 
		padding-top:0px;;
	  
	   position: absolute;
	   
	}
	.newsletterpolice1{
		font-size: 34px !important;
	}
	.ac-police{
		font-size: 59px;
		padding-bottom: 60px;
		
		
	}
	.texttaill{
		font-size: 25px; 
		/* margin-left: 30px; */
		padding-left: 20px;
		padding-bottom: 20px;
	 }	
	.carrosel{
		
		padding-top: 93px;
		/* margin-bottom: 13px; */
		top: -84px;
		/* padding-bottom: 8px;
		bottom: 40px; */
	}
	.cc-navbar .nav-link {
		/* border-bottom: 1px solid transparent;
		transition: padding-bottom 0.4s ease-in-out, border-color 0.3s ease;
		font-size: 24px; */
	
		
		letter-spacing: 1px;
		font-size: 25px;
		
		
		
	}
	
	.cc-navbar .nav-link:hover {
		padding-bottom: 40px;
		height: 44px;
		border-bottom-color:#f9b442 ;
		color: #f9b442 !important;
		font-size: 26px bold !important;
	}
	.cc-navbar .nav-link:active {
		padding-bottom: 40px;
		height: 44px;
		border-bottom-color:#f9b442 ;
		border-bottom:14px #f9b442 solid; 
		color: #f9b442 !important;
		
			text-decoration: underline;
			text-decoration-color: #f9b442;
	
		
		
	}
	/* .active,.nav-link:active{
		text-decoration: underline;
		text-decoration-color: #f9b442;
	} */
	.boutonpos{
		margin-right: -34px;
	}
	.boutonpos1{
		margin-right: -137px;
	}

	.refpolice1{
		font-size: 23px !important;
		
	}
	.refpolice11{
		font-size: 22px !important;
		margin-left: -8px;
		
	}
	
	.container1{
			margin: left 15px;
		}
		.arrive{
			background:  url(../../images/RECADRAGE/RECADRAGE-01.png) center center  no-repeat;
		
			background-size: cover;
			background-position: bottom; 
			height: 100vh;
			width: 100%;
			
		} 
		.ensavoirplus{
			color: #1a1919 !important;
			background-color:#f9b442 !important ;
			font-family:" redressed";
			font-size: 14px;
		}
		.accueil-im1{
			top: -3px;
			width: 1550px !important;
			left: -100px !important;
			top: -780px !important;
			margin-right: 0px;
			margin: 0px;
			right: 0px;
		}
	
		.accueil-im{
			
			position: absolute;
			top: -70px;
		}
		.accueil-text{
			position: absolute;
			/* bottom: 10px; */
			top: 750px;
			font-weight: 700px !important;
			margin-left: 519px; 
			/* top: 671px;
			font-weight: 700px !important;
			margin-left: 499px; */
		}
		.conteneu-im{
		top:100px
		}
		 .parents{
		   position: relative;
		   /* padding: 20px; */
		 
		}
		
		.conteneur {
	
			column-count: 2;
			font-size: 23px;
			text-align: left;
			width: 700px;
			margin-left: 20px;
			margin-top: 12px;
	}
	
	.conteneur11 {
	
		
		font-size: 20px;
		text-align: left;
		width: 600px;
		
	
	}
	.conteneur1 {
			column-count: 2;
			font-size: 20px;
			text-align: left;
			
	
	}
		
	.descr{
		width: 460px;
		margin: 20px;
	}
	.fil{
			position:absolute;
			left: 0px;
			z-index: 999;
			width:  700px;
			/* margin-left: 14px ; */
			margin-top: 10%;
			padding-left: 80px;
	
			
		}
	
		
	.fil1{
		 position:absolute;
		 right: 0px;
		 z-index: 999;
		 width:  600px;
		 margin-left: 50% ;
		 margin-top:3%;
			
			
		}
	
	.tailletitre{
		font-size: 40px;
    width: 800px;
    padding-right: 10px;
    margin-left: 40px;
    padding-bottom: 7px;
		}
	.tailletitrerig{
		font-size: 40px;
		width: 800px;
		padding-right: 10px;
	 }
	.tailletitre1{
			font-size: 40px;
			
		}
	
	.tailletitreaut{
			font-size: 2rem;
			width: 650px;
		}
	.tailledesc{
		font-size: 23px;
		margin: 14px;
		width: 700px;
		text-align: left;
	}
		
	.titre1{
			font-size: 40px;
		
		}
	.bouton{
			width: 144px;
			height: 37px;
		}
	
	.to-top {
			background: #f9b442;
			position: fixed;
			bottom: 16px;
			right:32px;
			width:50px;
			height:50px;
			border-radius: 50%;
			display:block;
			align-items: center;
			text-align: center;
			justify-content: center;
			font-size:32px;
			color:#1f1f1f;
			text-decoration: none;
			opacity:0;
			line-height: 40px;
			pointer-events: none;
			transition: all .4s;
			z-index: 9999;
			left: 1471px;
			top: 700px;
			
			
		  }
	.to-top.active {
			bottom:32px;
			pointer-events: auto;
			opacity:1;
			
		  }
		.comptence{
			width:90%;
			padding:0px;
			margin: 0px;
		} 
		.post{
			top: 100px;
		}
		.margedroit{
			margin-left:50px;
		}
			
	.progbarleft {
		background-color: #f9b442 !important;
		width: 30%;
		height: 9px;
	}
		.progbarright{
			background-color: #f9b442 !important;
    left: 273px;
    width: 19%;
    height: 12px;
    margin-left: 502px;
    margin-top: 3px;
		}
	.progbarright1{
			background-color: #f9b442 !important;
    width: 20%;
    height: 6px;
    padding-left: 0px;
    margin-left: 454px;
    margin-top: -34px;
    margin-bottom: 16px; 
			
	
			/* left: 350px;
			width: 20%;
			height: 9px;
			padding-left: 0px;
			margin-left: 299px;
			margin-bottom: 17px; */
		}
		.sepa{
			margin-bottom: 40px;
		}
		
		
		.nav-police{
			font-size: 24px !important;
		}
		.nos-medias{
			background-color:#f9b442; margin-bottom: 20px;
			font-size: 28px !important;
			font-weight: bold;
			border-radius: 64% 2%;margin-top: 20px;
		}
		.bisgslade{
			
			margin-top: 20px !important ;
		}
		.progbarleft1 {
			background-color: #f9b442 !important;
			width: 30%;
			height: 9px;
		}
		.servicepolice{
			font-weight: bold;
			font-size: 25px;
			text-align: center !important;
		}
		/* .ac-police{
			font-size: 40px;
			
			
		} */
		.ac-police1{
			margin-top: -140px;
		}
		.logoa{
			
				/* height:100px;
				width: 157px; */
				width: 225px;
				aspect-ratio: auto 200 / 150;
				height: 173px
		}
		.logoa1{
			
				height: 129px;
				width: 182px;
				 
			 }
	
		.cacher{
			display: none;
		}
	.affiche{
			display: block;
		}
	.textcenter{
			text-align: left;
		 }
		/* .row>*{
			flex-shrink: 0;
			width: 100%;
			max-width: 100%;
			padding-right: calc(var(--bs-gutter-x) * 0.5);
			padding-left: calc(var(--bs-gutter-x) * 0.5);
			margin-top: var(--bs-gutter-y);
		} */
	 
	
 }

@media screen and (max-width :1320px) and (min-width :1140px) { 
    
	/* NAVBAR OF THE PAGE PRESENTATION AND ....... */
.cc-navbar {
	/* background-color:   rgba(255, 255, 255, 0.54) */ 
	/* box-shadow: 1px 1px 3px rgba(255, 255, 255, 0.54); */
    z-index: 99; 
    padding-top:0px;;
  
   position: absolute;
   
}
.newsletterpolice1{
	font-size: 34px;
}
.ac-police{
	font-size: 40px;
	padding-bottom: 60px;
	
	
}
.texttaill{
	font-size: 25px; 
	/* margin-left: 30px; */
	padding-left: 20px;
	padding-bottom: 20px;
 }	

.carrosel{
	
	padding-top: 93px;
    /* margin-bottom: 13px; */
    top: -84px;
    /* padding-bottom: 8px;
    bottom: 40px; */
}

.cc-navbar .nav-link {
	/* border-bottom: 1px solid transparent;
	transition: padding-bottom 0.4s ease-in-out, border-color 0.3s ease;
	font-size: 24px; */

	
    letter-spacing: 1px;
    font-size: 25px;
    
	
	
}

.cc-navbar .nav-link:hover {
	padding-bottom: 40px;
	height: 44px;
	border-bottom-color:#f9b442 ;
	color: #f9b442 !important;
	font-size: 26px bold !important;
}
.cc-navbar .nav-link:active {
	padding-bottom: 40px;
	height: 44px;
	border-bottom-color:#f9b442 ;
	border-bottom:14px #f9b442 solid; 
	color: #f9b442 !important;
	
		text-decoration: underline;
		text-decoration-color: #f9b442;

	
	
}
/* .active,.nav-link:active{
	text-decoration: underline;
	text-decoration-color: #f9b442;
} */
.boutonpos{
	margin-right: 85px;
}
.boutonpos1{
	margin-right: -137px;
}

.refpolice1{
	font-size: 23px !important;
	
}
.refpolice11{
	font-size: 22px !important;
	margin-left: -8px;
	
}

.container1{
		margin: left 15px;
	}
	.arrive{
		background:  url(../../images/RECADRAGE/RECADRAGE-01.png) center center  no-repeat;
	
		background-size: cover;
		background-position: bottom; 
		height: 100vh;
		width: 100%;
		
	} 
	.ensavoirplus{
		color: #1a1919 !important;
		background-color:#f9b442 !important ;
		font-family:" redressed";
		font-size: 14px;
	}
	.accueil-im1{
		top: -3px;
		width: 1550px !important;
		left: -100px !important;
		top: -780px !important;
		margin-right: 0px;
		margin: 0px;
		right: 0px;
	}

	.accueil-im{
		
		position: absolute;
		top: -70px;
	}
	.accueil-text{
		position: absolute;
		/* bottom: 10px; */
		   
			top: 750px;
			font-weight: 700px !important;
			margin-left: 519px;
	}
    .conteneu-im{
    top:100px
    }
	 .parents{
	   position: relative;
	   /* padding: 20px; */
	 
	}
	
	.conteneur {

		column-count: 2;
		font-size: 23px;
		text-align: left;
		width: 700px;
		margin-left: 20px;
		margin-top: 12px;
}

.conteneur11 {

	
	font-size: 20px;
	text-align: left;
	width: 600px;
	

}
.conteneur1 {
		column-count: 2;
		font-size: 20px;
		text-align: left;
		

}
	
.descr{
	width: 460px;
	margin: 20px;
}
.fil{
        position:absolute;
        left: 0px;
		z-index: 999;
		width:  700px;
	    /* margin-left: 14px ; */
	    margin-top: 10%;
		padding-left: 80px;

		
	}

	
.fil1{
	 position:absolute;
	 right: 0px;
	 z-index: 999;
	 width:  600px;
	 margin-left: 50% ;
	 margin-top:3%;
		
		
	}

.tailletitre{
	font-size: 40px;
    width: 800px;
    padding-right: 10px;
    margin-left: 40px;
    padding-bottom: 7px;
	}
.tailletitrerig{
	font-size: 40px;
    width: 800px;
    padding-right: 10px;;
 }
.tailletitre1{
		font-size: 40px;
		
	}

.tailletitreaut{
		font-size: 2rem;
		width: 650px;
	}
.tailledesc{
	font-size: 23px;
    margin: 14px;
    width: 700px;
    text-align: left;

	}
.titre1{
		font-size: 40px;
	
	}
.bouton{
		width: 144px;
		height: 37px;
	}

.to-top {
		background: #f9b442;
		position: fixed;
		bottom: 16px;
		right:32px;
		width:50px;
		height:50px;
		border-radius: 50%;
		display:block;
		align-items: center;
		text-align: center;
		justify-content: center;
		font-size:32px;
		color:#1f1f1f;
		text-decoration: none;
		opacity:0;
		line-height: 40px;
		pointer-events: none;
		transition: all .4s;
		z-index: 9999;
		left: 1471px;
		top: 700px;
		
		
	  }
.to-top.active {
		bottom:32px;
		pointer-events: auto;
		opacity:1;
		
	  }
	.comptence{
		width:90%;
		padding:0px;
		margin: 0px;
	} 
	.post{
		top: 100px;
	}
	.margedroit{
		margin-left:50px;
	}
		
.progbarleft {
	background-color: #f9b442 !important;
	width: 30%;
	height: 9px;
}
	.progbarright{
		background-color: #f9b442 !important;
    left: 273px;
    width: 19%;
    height: 12px;
    margin-left: 502px;
    margin-top: 3px;
	}
	.progbarright1{
		background-color: #f9b442 !important;
    width: 20%;
    height: 6px;
    padding-left: 0px;
    margin-left: 454px;
    margin-top: -34px;
    margin-bottom: 16px; 
		

		/* left: 350px;
		width: 20%;
		height: 9px;
		padding-left: 0px;
		margin-left: 299px;
		margin-bottom: 17px; */
	}
	.sepa{
		margin-bottom: 40px;
	}
	
	
	.nav-police{
		font-size: 24px !important;
	}
	.nos-medias{
		background-color:#f9b442; margin-bottom: 20px;
		font-size: 28px !important;
		font-weight: bold;
		border-radius: 64% 2%;margin-top: 20px;
	}
	.bisgslade{
		
		margin-top: 20px !important ;
	}
	.progbarleft1 {
		background-color: #f9b442 !important;
		width: 30%;
		height: 9px;
	}
	.servicepolice{
		font-weight: bold;
		font-size: 25px;
		text-align: center !important;
	}
	/* .ac-police{
		font-size: 40px;
		
		
	} */
	.ac-police1{
		margin-top: -140px;
	}
	.logoa{
		
			/* height:100px;
			width: 157px; */
			width: 225px;
			aspect-ratio: auto 200 / 150;
			height: 173px
	}
	.logoa1{
		
			height: 129px;
			width: 182px;
			 
		 }

	.cacher{
		display: none;
	}
.affiche{
		display: block;
	}
.textcenter{
		text-align: left;
	 }
	/* .row>*{
		flex-shrink: 0;
		width: 100%;
		max-width: 100%;
		padding-right: calc(var(--bs-gutter-x) * 0.5);
		padding-left: calc(var(--bs-gutter-x) * 0.5);
		margin-top: var(--bs-gutter-y);
	} */
 }
 @media screen and (max-width :1140px) and   (min-width :1060px) { 
    
	/* NAVBAR OF THE PAGE PRESENTATION AND ....... */
.cc-navbar {
	/* background-color:   rgba(255, 255, 255, 0.54) */ 
	/* box-shadow: 1px 1px 3px rgba(255, 255, 255, 0.54); */
    z-index: 99; 
    padding-top:0px;
  
   position: absolute;
   
}
.ac-police{
	font-size: 40px;
	padding-bottom: 60px;

}
.texttaill{
	/* font-size: 10px; */
	/* margin-left: 30px; */
	padding-left: 20px;
	padding-bottom: 20px;
 }
.newsletterpolice1{
	font-size: 34px;
}
.carrosel{
	
	padding-top: 80px;
    /* margin-bottom: 13px; */
    top: -40px;
    /* padding-bottom: 8px;
    bottom: 40px; */
}

.cc-navbar .nav-link {
	/* border-bottom: 1px solid transparent;
	transition: padding-bottom 0.4s ease-in-out, border-color 0.3s ease;
	font-size: 24px; */

	
    letter-spacing: 1px;
    font-size: 25px;
    
	
	
}

.cc-navbar .nav-link:hover {
	padding-bottom: 40px;
	height: 44px;
	border-bottom-color:#f9b442 ;
	color: #f9b442 !important;
	font-size: 26px bold !important;
}
.cc-navbar .nav-link:active {
	padding-bottom: 40px;
	height: 44px;
	border-bottom-color:#f9b442 ;
	border-bottom:14px #f9b442 solid; 
	color: #f9b442 !important;
	
		text-decoration: underline;
		text-decoration-color: #f9b442;

	
	
}
/* .active,.nav-link:active{
	text-decoration: underline;
	text-decoration-color: #f9b442;
} */
.boutonpos{
	margin-right: -34px;
}
.boutonpos1{
	margin-right: 63px;
}

.container1{
		margin: left 15px;
	}
	.arrive{
		background:  url(../../images/RECADRAGE/RECADRAGE-01.png) center center  no-repeat;
	
		background-size: cover;
		background-position: bottom; 
		height: 100vh;
		width: 100%;
		
	} 
	.ensavoirplus{
		color: #1a1919 !important;
		background-color:#f9b442 !important ;
		font-family:" redressed";
		font-size: 14px;
	}
	.accueil-im1{
		top: -3px;
		width: 1550px !important;
		left: -100px !important;
		top: -780px !important;
		margin-right: 0px;
		margin: 0px;
		right: 0px;
	}
    .accueil-im{
		
		position: absolute;
		top: -70px;
	}
	.accueil-text{
		position: absolute;
		/* bottom: 10px; */
		top: 550px;
		font-weight: 700px !important;
		margin-left: 400px;
	}

    .conteneu-im{
    top:100px
    }
	 .parents{
	   position: relative;
	   /* padding: 20px;
	  */
	}
	
	.conteneur {

		column-count: 2;
		font-size:18px;
		text-align: left;
		width: 500px;
		margin-left: 20px;
		margin-left: 12px;
}
.conteneur11 {

	
	font-size: 20px;
	text-align: left;
	width: 700px;
	

}
.conteneur1 {

		column-count: 2;
		font-size: 20px;
		text-align: left;
		

}
	
.descr{
	width: 460px;
	margin: 20px;
}
.fil{
        position:absolute;
        left: 0px;
		z-index: 999;
		width:  700px;
	    /* margin-left: 14px ; */
	    margin-top: 10%;
		padding-left: 80px;

		
	}

	
.fil1{
	 position:absolute;
	 right: 0px;
	 z-index: 999;
	 width:  600px;
	 margin-left: 50% ;
	 margin-top:3%;
		
		
	}

.tailletitre{
		font-size: 30px;
		width: 500px;
		padding-right: 10px;
		margin-left: 40px;
		padding-bottom: 7px;
	}
.tailletitrerig{
	   font-size: 30px;
		width: 500px;
		padding-right: 10px;
}
.tailletitre1{
		font-size: 40px;
		
	}
.tailletitreaut{
		font-size: 2rem;
		width: 650px;
	}
.tailledesc{
		font-size: 19px;
		margin: 14px;
		width: 500px;
		text-align: left;
	}
.titre1{
		font-size: 40px;
	
	}
.bouton{
		width: 144px;
		height: 37px;
	}

.to-top {
		background: #f9b442;
		position: fixed;
		bottom: 16px;
		right:32px;
		width:50px;
		height:50px;
		border-radius: 50%;
		display:block;
		align-items: center;
		text-align: center;
		justify-content: center;
		font-size:32px;
		color:#1f1f1f;
		text-decoration: none;
		opacity:0;
		line-height: 40px;
		pointer-events: none;
		transition: all .4s;
		z-index: 9999;
		left: 1471px;
		top: 700px;
		
		
	  }
.to-top.active {
		bottom:32px;
		pointer-events: auto;
		opacity:1;
		
	  }
	.comptence{
		width:90%;
		padding:0px;
		margin: 0px;
	} 
	.post{
		top: 100px;
	}
	.margedroit{
		margin-left:50px;
	}
	.progbarright{
		background-color: #f9b442 !important;
		left: 273px;
		width: 20%;
		height: 6px;
		margin-left: 354px;
		margin-top: 3px;
	}
	.progbarright1{
		background-color: #f9b442 !important;
		/* left: 273px; */
		width: 20%;
		height: 6px;
		padding-left: 0px;
		margin-left: 320px;
		margin-top: -34px;
		margin-bottom: 16px; 
		

		/* left: 350px;
		width: 20%;
		height: 9px;
		padding-left: 0px;
		margin-left: 299px;
		margin-bottom: 17px; */
	}
	.sepa{
		margin-bottom: 40px;
	}
	/* .boutonpos{
		margin-right: 77px;
	}
	.boutonpos1{
		margin-right: 63px;
	} */
	.nav-police{
		font-size: 24px !important;
	}
	.nos-medias{
		background-color:#f9b442; margin-bottom: 20px;
		font-size: 28px !important;
		font-weight: bold;
		border-radius: 64% 2%;margin-top: 20px;
	}
	.bisgslade{
		
		margin-top: 20px !important ;
	}
		
.progbarleft {
	background-color: #f9b442 !important;
	width: 30%;
	height: 9px;
}
	.progbarleft1 {
		background-color: #f9b442 !important;
		width: 30%;
		height: 6px;
	}
	.servicepolice{
		font-weight: bold;
		font-size: 25px;
		text-align: center !important;
	}
	/* .ac-police{
		font-size: 40px;
		
		
	} */
	.ac-police1{
		margin-top: -140px;
	}
	.logoa{
		
		/* height:100px;
		width: 157px; */
		width: 200px;
	   aspect-ratio: auto 200 / 150;
	   height: 150px;
}
.logoa1{
	height:100px;
		width: 157px;
	 }
	.cacher{
		display: none;
	}
.affiche{
		display: block;
	}
.textcenter{
		text-align: left;
	 }
	/* .row>*{
		flex-shrink: 0;
		width: 100%;
		max-width: 100%;
		padding-right: calc(var(--bs-gutter-x) * 0.5);
		padding-left: calc(var(--bs-gutter-x) * 0.5);
		margin-top: var(--bs-gutter-y);
	} */
 }

 @media screen and (max-width :1060px) and   (min-width :961px) { 
    
	/* NAVBAR OF THE PAGE PRESENTATION AND ....... */
.cc-navbar {
	/* background-color:   rgba(255, 255, 255, 0.54) */ 
	/* box-shadow: 1px 1px 3px rgba(255, 255, 255, 0.54); */
    z-index: 99; 
    padding-top:0px;
  
   position: absolute;
   
}
.ac-police{
	font-size: 40px;
	padding-bottom: 60px;

}
.texttaill{
	/* font-size: 10px; */
	/* margin-left: 30px; */
	padding-left: 20px;
	padding-bottom: 20px;
 }
.newsletterpolice1{
	font-size: 22px;
}
.carrosel{
	
	padding-top: 80px;
    /* margin-bottom: 13px; */
    top: -40px;
    /* padding-bottom: 8px;
    bottom: 40px; */
}

.cc-navbar .nav-link {
	/* border-bottom: 1px solid transparent;
	transition: padding-bottom 0.4s ease-in-out, border-color 0.3s ease;
	font-size: 24px; */

	
    letter-spacing: 1px;
    font-size: 18px;
    
	
	
}

.cc-navbar .nav-link:hover {
	padding-bottom: 40px;
	height: 44px;
	border-bottom-color:#f9b442 ;
	color: #f9b442 !important;
	font-size: 26px bold !important;
}
.cc-navbar .nav-link:active {
	padding-bottom: 40px;
	height: 44px;
	border-bottom-color:#f9b442 ;
	border-bottom:14px #f9b442 solid; 
	color: #f9b442 !important;
	
		text-decoration: underline;
		text-decoration-color: #f9b442;

	
	
}
/* .active,.nav-link:active{
	text-decoration: underline;
	text-decoration-color: #f9b442;
} */
.boutonpos{
	
	margin-right: 206px;
   
}
.boutonpos1{
	margin-right: 31px;
}

.container1{
		margin: left 15px;
	}
	.arrive{
		background:  url(../../images/RECADRAGE/RECADRAGE-01.png) center center  no-repeat;
	
		background-size: cover;
		background-position: bottom; 
		height: 100vh;
		width: 100%;
		
	} 
	.ensavoirplus{
		color: #1a1919 !important;
		background-color:#f9b442 !important ;
		font-family:" redressed";
		font-size: 14px;
	}
	.accueil-im1{
		top: -3px;
		width: 1550px !important;
		left: -100px !important;
		top: -780px !important;
		margin-right: 0px;
		margin: 0px;
		right: 0px;
	}
    .accueil-im{
		
		position: absolute;
		top: -70px;
	}
	.accueil-text{
		position: absolute;
		
		top: 483px;
		font-weight: 700px !important;
		margin-left: 245px;

		
	}

    .conteneu-im{
    top:100px
    }
	 .parents{
	   position: relative;
	   /* padding: 20px;
	  */
	}
	
	.conteneur {

		
	column-count: 2;
    font-size: 13px;
    text-align: left;
    width: 420px;
    margin-left: 20px;
    margin-left: 12px;
}
.conteneur11 {

	
	font-size: 20px;
	text-align: left;
	width: 700px;
	

}
.conteneur1 {

		column-count: 2;
		font-size: 20px;
		text-align: left;
		

}
	
.descr{
	width: 460px;
	margin: 20px;
}
.fil{
        position:absolute;
        left: 0px;
		z-index: 999;
		width:  700px;
	    /* margin-left: 14px ; */
	    margin-top: 10%;
		padding-left: 80px;

		
	}

	
.fil1{
	position: absolute;
    right: 0px;
    z-index: 999;
    width: 500px;
    margin-left: 50%;
    margin-top: 3%;
		
		
	}

.tailletitre{
		font-size: 30px;
		width: 500px;
		padding-right: 10px;
		margin-left: 40px;
		padding-bottom: 7px;
	}
.tailletitrerig{
	   font-size: 30px;
		width: 500px;
		padding-right: 10px;
}
.tailletitre1{
		font-size: 40px;
		
	}
.tailletitreaut{
		font-size: 2rem;
		width: 650px;
	}
.tailledesc{
		font-size: 15px;
    margin: -9px;
    width: 434px;
    text-align: left;
	}
.titre1{
		font-size: 40px;
	
	}
.bouton{
		
		width: 120px;
    height: 23px;
	}

.to-top {
		background: #f9b442;
		position: fixed;
		bottom: 16px;
		right:32px;
		width:50px;
		height:50px;
		border-radius: 50%;
		display:block;
		align-items: center;
		text-align: center;
		justify-content: center;
		font-size:32px;
		color:#1f1f1f;
		text-decoration: none;
		opacity:0;
		line-height: 40px;
		pointer-events: none;
		transition: all .4s;
		z-index: 9999;
		left: 1471px;
		top: 700px;
		
		
	  }
.to-top.active {
		bottom:32px;
		pointer-events: auto;
		opacity:1;
		
	  }
	.comptence{
		width:90%;
		padding:0px;
		margin: 0px;
	} 
	.post{
		top: 100px;
	}
	.margedroit{
		margin-left:50px;
	}
	.progbarright{
		background-color: #f9b442 !important;
		left: 273px;
		width: 20%;
		height: 6px;
		margin-left: 354px;
		margin-top: 3px;
	}
	.progbarright1{
		background-color: #f9b442 !important;
		/* left: 273px; */
		width: 20%;
		height: 6px;
		padding-left: 0px;
		margin-left: 320px;
		margin-top: -34px;
		margin-bottom: 16px; 
		

		/* left: 350px;
		width: 20%;
		height: 9px;
		padding-left: 0px;
		margin-left: 299px;
		margin-bottom: 17px; */
	}
	.sepa{
		margin-bottom: 40px;
	}
	/* .boutonpos{
		margin-right: 77px;
	}
	.boutonpos1{
		margin-right: 63px;
	} */
	.nav-police{
		font-size: 20px !important;
	}
	.nos-medias{
		background-color:#f9b442; margin-bottom: 20px;
		font-size: 28px !important;
		font-weight: bold;
		border-radius: 64% 2%;margin-top: 20px;
	}
	.bisgslade{
		
		margin-top: 20px !important ;
	}
		
.progbarleft {
	background-color: #f9b442 !important;
	width: 30%;
	height: 9px;
}
	.progbarleft1 {
		background-color: #f9b442 !important;
		width: 30%;
		height: 6px;
	}
	.servicepolice{
		font-weight: bold;
		font-size: 25px;
		text-align: center !important;
	}
	.ac-police{
		font-size: 40px;
		
		
	}
	.ac-police1{
		margin-top: -140px;
	}
	.logoa{
		
		/* height:100px;
		width: 157px; */
		width: 191px;
		aspect-ratio: auto 200 / 150;
		height: 85px;
	}

.logoa1{
	height:100px;
		width: 157px;
	 }
	.cacher{
		display: none;
	}
.affiche{
		display: block;
	}
.textcenter{
		text-align: left;
	 }
	/* .row>*{
		flex-shrink: 0;
		width: 100%;
		max-width: 100%;
		padding-right: calc(var(--bs-gutter-x) * 0.5);
		padding-left: calc(var(--bs-gutter-x) * 0.5);
		margin-top: var(--bs-gutter-y);
	} */
 }

 @media screen and (max-width :960px) and (min-width :768px){ 
    
	.cc-navbar {
		/* background-color:   rgba(255, 255, 255, 0.54) */ 
		/* box-shadow: 1px 1px 3px rgba(255, 255, 255, 0.54); */
		z-index: 99; 
	   top: 12px;
	   margin-top:-15px !important ;
	   position: fixed;
	   
	}
	
	.cc-navbar .nav-link {
		border-bottom: 1px solid transparent;
		transition: padding-bottom 0.4s ease-in-out, border-color 0.3s ease;
		font-size:10px;
		
	}
	
	.cc-navbar .nav-link:hover {
		padding-bottom: 20px;
		height: 44px;
		border-bottom-color:#f9b442 ;
		color: #f9b442 !important;
		font-size: 10px bold !important;
	}
	.cc-navbar .nav-link:active {
		padding-bottom: 20px;
		height: 44px;
		border-bottom-color:#f9b442 ;
		border-bottom:14px #f9b442 solid; 
		color: #f9b442 !important;
		
	}
	.logoa{
		height: 83px !important;
	} 
	.logoa1{
		height: 83px !important;
	} 
	.arrive{
			background:  url(../../images/RECADRAGE/RECADRAGE-01.png) center center  no-repeat;
			background-size: cover;
			background-position: bottom; 
			display: block;
			
		} 
	.inverser1{
			flex-direction: column-reverse;
		}
	.ensavoirplus{
			color: #1a1919 !important;
			background-color:#f9b442 !important ;
			font-family:" redressed";
			font-size: 10px;
		}
		.menu{
			background-color:rgba(43, 42, 42, 0);
			position:absolute;
			top:37px;
			left:0px;
			width: 195px;
			backdrop-filter:blur(5px);
		 }
	.menu1{
			padding:10px;
			font-size:17px;
			
		 }
		
	.nav-police{
			font-size: 20px !important;
			
		}
	.refpolice1{
			font-size: 12px !important;
			
		}
		
	.accuel-textee{
			margin-left: 116px;
			margin-bottom: 34px;
			font-weight: 700px !important;
		}
	.accueil-im1{
			display: block;
			top: -35px;
			left: 10px;
			width:100%; 
			/* font-size: 21px !important; */
		}
	.inverser{
			flex-direction: column-reverse;
		}
	.nav11{
			background-color: rgba(43, 42, 42, 0) !important;
			 /* box-shadow: 1px 1px 3px rgba(255, 255, 255, 0.54); */
			 
			 top: auto;
		
		}
	.progbarleft1 {
			background-color: #f9b442 !important;
			width: 30%;
			height: 9px;
		}
	
		.servicepolice{
			font-weight: bold;
			font-size: 25px;
			text-align: center !important;
		}
	.conteneur {
	
			column-count: 2;
			font-size: 15px;
			text-align: left;
	
	}
	.conteneu-im{
		top:-240px
		}
	.parents{
			position: relative;
			
			
			
		 }
	.texte-centrer{
			text-align: center;
		 }
	
	.bouton{
				height: 37px;
				width: 144px;
		}
	.tailletitre{
			font-size: 26px
		}
	.tailletitrerig{
		font-size: 26px
	 }
	.tailletitre1{
			font-size: 16px;
			width: 100%;
			
		}
	.tailledesc{
		font-size: 15px;
		margin-right: 11px;
		text-align:left
		}
	.newsletterpolice{
			font-size: 29px;
		}
		
	.img{
			display: none;
		}
	.posit{
	
			left: 21px;
		}
	/* .comptence{
			margin: 0%;
			left: 25px;
		}
	.post{
			top: -35px;
			font-size: 12px;
		}
		 */
	/* 
	.progbarright{
			background-color: #f9b442 !important;
			left: 350px;
			width: 20%;
			height: 9px;
			padding-left: 0px;
			margin-left: 299px;
			margin-bottom: 17px;
		} */
	.nav1 ul{
			background-color: #64350d;
		}
		
	.descr{
			width: 460px;
			margin: 20px;
		}
	.cacher{
			display: none;
		}
	.affiche{
			display: block;
		}
		
	.to-top {
				background: #f9b442;
				position: fixed;
				bottom: 16px;
				right:32px;
				width:50px;
				height:50px;
				border-radius: 50%;
				display:block;
				align-items: center;
				text-align: center;
				justify-content: center;
				font-size:32px;
				color:#1f1f1f;
				text-decoration: none;
				opacity:0;
				line-height: 40px;
				pointer-events: none;
				transition: all .4s;
				z-index: 9999;
				left: 450px;
				top:700px;
				
				
			  }
			  
	.to-top.active {
				bottom:32px;
				pointer-events: auto;
				opacity:1;
				
			  }
	 .reference{
				height: 40px;
				width: 40px;
			}
	
	
	.row>*{
				flex-shrink: 0;
				width: 94%;
				max-width: 94%;
				padding-right: calc(var(--bs-gutter-x) * 0.5);
				padding-left: calc(var(--bs-gutter-x) * 0.5);
				margin-top: var(--bs-gutter-y);
			}
	.textcenter{
				text-align: center;
			 }
	
			 .menu{
				background-color:rgba(43, 42, 42, 0);
				position:absolute;
				top:37px;
				left:0px;
				width: 195px;
				backdrop-filter:blur(5px);
			 }
			
			 .menu1{
				padding:10px;
				font-size:17px;
				
			 }
			
 }


@media screen and  (max-width:768px) and (min-width:576px) { 
	
	/* NAVBAR OF THE PAGE PRESENTATION AND ....... */
.cc-navbar {
	/* background-color:   rgba(255, 255, 255, 0.54) */ 
	/* box-shadow: 1px 1px 3px rgba(255, 255, 255, 0.54); */
    z-index: 99; 
   top: 12px;
   margin-top:-15px !important ;
   position: fixed;
   
}

.cc-navbar .nav-link {
	border-bottom: 1px solid transparent;
	transition: padding-bottom 0.4s ease-in-out, border-color 0.3s ease;
	font-size:10px;
	
}

.cc-navbar .nav-link:hover {
	padding-bottom: 20px;
	height: 44px;
	border-bottom-color:#f9b442 ;
	color: #f9b442 !important;
	font-size: 10px bold !important;
}
.cc-navbar .nav-link:active {
	padding-bottom: 20px;
	height: 44px;
	border-bottom-color:#f9b442 ;
	border-bottom:14px #f9b442 solid; 
	color: #f9b442 !important;
	
}
.logoa{
	height: 83px !important;
} 
.logoa1{
	height: 83px !important;
} 
.arrive{
		background:  url(../../images/RECADRAGE/RECADRAGE-01.png) center center  no-repeat;
		background-size: cover;
		background-position: bottom; 
		display: block;
		
	} 
.inverser1{
		flex-direction: column-reverse;
	}
.ensavoirplus{
		color: #1a1919 !important;
		background-color:#f9b442 !important ;
		font-family:" redressed";
		font-size: 10px;
	}
.menu{
		background-color:rgba(43, 42, 42, 0);
		position:absolute;
		top:37px;
		left:0px;
		width: 195px;
		backdrop-filter:blur(5px);
	 }
.menu1{
		padding:10px;
		font-size:17px;
		
	 }
	
.nav-police{
		font-size: 20px !important;
		
	}
.refpolice1{
		font-size: 12px !important;
		
	}
	
.accuel-textee{
		margin-left: 116px;
		margin-bottom: 34px;
		font-weight: 700px !important;
	}
.accueil-im1{
		display: block;
		top: -35px;
		left: 10px;
		width:100%; 
		/* font-size: 21px !important; */
	}
.inverser{
		flex-direction: column-reverse;
	}
.nav11{
		background-color: rgba(43, 42, 42, 0) !important;
		 /* box-shadow: 1px 1px 3px rgba(255, 255, 255, 0.54); */
		 
		 top: auto;
	
	}
.progbarleft1 {
		background-color: #f9b442 !important;
		width: 30%;
		height: 9px;
	}

	.servicepolice{
		font-weight: bold;
		font-size: 25px;
		text-align: center !important;
	}
.conteneur {

		column-count: 2;
		font-size: 15px;
		text-align: left;

}
.conteneu-im{
    top:-240px
    }
.parents{
		position: relative;
	 }
.texte-centrer{
		text-align: center;
	 }

.bouton{
		    height: 37px;
			width: 144px;
	}
.tailletitre{
		font-size: 26px
	}
.tailletitrerig{
	font-size: 26px
 }
.tailletitre1{
		font-size: 16px;
		width: 100%;
		
	}
.tailledesc{
	font-size: 15px;
    margin-right: 11px;
	text-align:left
	}
.newsletterpolice{
		font-size: 29px;
	}
	
.img{
		display: none;
	}
.posit{

		left: 21px;
	}
/* .comptence{
		margin: 0%;
		left: 25px;
	}
.post{
		top: -35px;
		font-size: 12px;
	}
	 */
/* 
.progbarright{
		background-color: #f9b442 !important;
		left: 350px;
		width: 20%;
		height: 9px;
		padding-left: 0px;
		margin-left: 299px;
		margin-bottom: 17px;
	} */
.nav1 ul{
		background-color: #64350d;
	}
	
.descr{
		width: 460px;
		margin: 20px;
	}
.cacher{
		display: none;
	}
.affiche{
		display: block;
	}
	
.to-top {
			background: #f9b442;
			position: fixed;
			bottom: 16px;
			right:32px;
			width:50px;
			height:50px;
			border-radius: 50%;
			display:block;
			align-items: center;
			text-align: center;
			justify-content: center;
			font-size:32px;
			color:#1f1f1f;
			text-decoration: none;
			opacity:0;
			line-height: 40px;
			pointer-events: none;
			transition: all .4s;
			z-index: 9999;
			left: 450px;
			top:700px;
			
			
		  }
		  
.to-top.active {
			bottom:32px;
			pointer-events: auto;
			opacity:1;
			
		  }
 .reference{
			height: 40px;
			width: 40px;
		}


.row>*{
			flex-shrink: 0;
			width: 94%;
			max-width: 94%;
			padding-right: calc(var(--bs-gutter-x) * 0.5);
			padding-left: calc(var(--bs-gutter-x) * 0.5);
			margin-top: var(--bs-gutter-y);
		}
.textcenter{
			text-align: center;
		 }

		 .menu{
			background-color:rgba(43, 42, 42, 0);
			position:absolute;
			top:37px;
			left:0px;
			width: 195px;
			backdrop-filter:blur(5px);
		 }
		
		 .menu1{
			padding:10px;
			font-size:17px;
			
		 }
		
	}

@media screen and  (max-width:576px) and  (min-width:266px){ 
	
		/* NAVBAR OF THE PAGE PRESENTATION AND ....... */
	.cc-navbar {
		/* background-color:   rgba(255, 255, 255, 0.54) */ 
		/* box-shadow: 1px 1px 3px rgba(255, 255, 255, 0.54); */
	   z-index: 99;
	   top: 4px;
	   margin-top: 23px;
	   position: fixed;
	   
	}
	
	.cc-navbar .nav-link {
		border-bottom: 1px solid transparent;
		transition: padding-bottom 0.4s ease-in-out, border-color 0.3s ease;
		font-size:18px;
		
	}
	
	.cc-navbar .nav-link:hover {
		padding-bottom: 20px;
		height: 44px;
		border-bottom-color:#f9b442 ;
		color: #f9b442 !important;
		font-size: 10px bold !important;
	}
	.cc-navbar .nav-link:active {
		padding-bottom: 20px;
		height: 44px;
		border-bottom-color:#f9b442 ;
		border-bottom:14px #f9b442 solid; 
		color: #f9b442 !important;
		
	}
	.logoa{
		height: 83px !important;

	}                                              
	.logoa1{
		height: 83px !important;                    

	}                                                                                       
	.arrive{
			background:  url(../../images/RECADRAGE/RECADRAGE-01.png) center center  no-repeat;
		                                                                                                                                                                                          
			background-size: cover;
			background-position: bottom; 
			display: block;
			
		} 
	.inverser1{
			flex-direction: column-reverse;
		}
	.ensavoirplus{
			color: #1a1919 !important;
			background-color:#f9b442 !important ;
			font-family:" redressed";
			font-size: 10px;
		}
	.bisgslade{
		margin-top: 100px !important;
	}
	.ac-police{
		font-size: 17px;
		padding-bottom: 21px;
		}
	.refpolice1{
			font-size: 8px !important;
			
		}
		
		.refpolice11{
			font-size: 6px !important;
			margin-left: -8px;
			
		}
	.accuel-textee{
			margin-left: 116px;
			margin-bottom: 34px;
			font-weight: 700px !important;
		}
		/* .nav-police{
			font-size: 18px !important;
			
		} */
	.menu-icone {
			height: 35px;
		}
		
	.accueil-im1{
			display: block;
			top: -35px;
			left: 10px;
			width:100%; 
			/* font-size: 21px !important; */
		}
	.inverser{
			flex-direction: column-reverse;
		}
	
	.nav11{
			background-color: rgba(43, 42, 42, 0) !important;
			 /* box-shadow: 1px 1px 3px rgba(255, 255, 255, 0.54); */
			 
			 top: auto;
		
		}
		
		
	.conteneur {
	
			column-count: 2;
			font-size: 14px;
			/* text-align: justify; */
	
	}
	.conteneu-im{
		top:-240px
		}
	
		 
	.parents{
			position: relative;
			
			
			
		 }
	.texte-centrer{
		/* margin-left: -70px; */
		 }
	
	.bouton{
		height: 18px;
		width: 85px;
		margin-bottom: 12px;
		}
	.tailletitre{
			font-size: 15px
		}
	.tailletitrerig{
		font-size: 14px
	}
	.fil1{
		/* margin-left: 2px; */
		padding-top: 21px;
	}
	.fil{
		/* margin-left: 2px; */
		padding-top: 21px;
	}
	/* .fil1{
		/* margin-left: 15px; *
		padding-top: 21px;
	} */
	.tailledesc{
		font-size: 14px;
		
		padding:15px;
		/* text-align:justify; */
		}
	.btnpos{
		margin-right: 28px;
	}
	.newsletterpolice{
		font-size: 22px;
	}
	.newsletterposit{
		padding-top: 20px;
		text-align: center;
	}
	.img{
			display: none;
		}
	.posit{
	
			/* left: 21px; */
		}
	/* .comptence{
			margin: 0%;
			left: 25px;
		}
	.post{
			top: -35px;
			font-size: 12px;
		}
		 */
.nos-medias{
			background-color:#f9b442; margin-bottom: 20px;
			font-size: 18px !important;
			font-weight: bold;
			border-radius: 26% 16%;
			margin-top: 6px;
			margin-left: 0px;
			margin-right: 0;
			padding: 9px;
			width: 100%;
		}
.progbarright{
			background-color: #f9b442 !important;
			left: 350px;
			width: 24%;
			height: 9px;
			padding-left: 0px;
			margin-left: 183px;
			margin-bottom: 12px;
		
		}

.progbarright1 {
			background-color: #f9b442 !important;
			left: 350px;
			padding-left: 0px;
			margin-left: 144px;
			margin-bottom: 17px;
			width: 30%;
			height: 9px;
		
		}
.progbarleft1 {
			background-color: #f9b442 !important;
			width: 30%;
			height: 9px;
		}
.progbarleft {
			background-color: #f9b442 !important;
			width: 30%;
			height: 9px;
		}
.nav1 ul{
			background-color: #64350d;
		}
.position{
		/* text-align: end; */
	}
.servicepolice{
		font-weight: bold;
		font-size: 16px;
		text-align: center !important;
	}
.descr{
			width: 460px;
			margin: 20px;
		}
.cacher{
			display: none;
		}
.affiche{
			display: block;
		}
		
.to-top {
				background: #f9b442;
				position: fixed;
				bottom: 16px;
				right:32px;
				width:50px;
				height:50px;
				border-radius: 50%;
				display:block;
				align-items: center;
				text-align: center;
				justify-content: center;
				font-size:32px;
				color:#1f1f1f;
				text-decoration: none;
				opacity:0;
				line-height: 40px;
				pointer-events: none;
				transition: all .4s;
				z-index: 9999;
				left: 450px;
				top:700px;
				
				
			  }
			  
.to-top.active {
				bottom:32px;
				pointer-events: auto;
				opacity:1;
				
			  }
.reference{
				height: 40px;
				width: 40px;
			}
.referencepos{
	background-color: #fff;
    padding-left: 0px;
    margin-left: -11px;
}
.row>*{
		flex-shrink: 0;
		width: 94%;
		max-width: 94%;
		padding-right: calc(var(--bs-gutter-x) * 0.5);
		padding-left: calc(var(--bs-gutter-x) * 0.5);
		margin-top: var(--bs-gutter-y);
	}

 .textcenter{
	text-align: center;
 }
 .texttaill{
	font-size: 13px;
 }
 .newletterpos{
	background-color: #64350d !important;
    margin-top: 15px;
 }
 .servicetitr{
	font-size: 10px;
}
.servecedes{
	font-size: 11px !important;
	margin-left:0px;
	margin-right: 0px;
}
.copyride{
	font-size: 11px;
}

.servepolbas{
	font-size: 10px;

 }
 .menu{
	background-color:rgba(43, 42, 42, 0);
	position:absolute;
	top:37px;
	left:0px;
	width: 195px;
	backdrop-filter:blur(5px);
 }

 .menu1{
	padding:10px;
	font-size:17px;
	
 }
 }